<?xml version="1.0"?>
<model>
  <name>Reflector 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Noah Hoehn</name>
    <email>nhoehn@stud.hs-heilbronn.de</email>
  </author>

  <description>
    A reflector used for LiDAR based localisation.
  </description>
</model>
